<footer>
    <div class="descricao">
        <div class="texto">
            <div class="metamorfose">
                <h1 class="titulo-final">
                    Quem somos?!
                </h1>
            <h2>
                Somos a maior comunidade entre os jovens de hoje<br>
                somos a maior comunidade de venda de consoles,<br>
                e jogos dessa geração, estamos aqui para construir<br>
                uma comunidade mais unida e feliz com nossos produtos,<br>
                com preços imperidiveis e descontos de <br>
                quebrar a concorrencia.
            </h2>
            <h2>
                Obrigado por visitar o site!! <br>
                VOLTE SEMPRE!!
            </h2>
        </div>
        <div class="imgf">
             <img src="assets/imgs/consoles.png" alt="">
            </div>
        </div>
    </div>
    <div class="linha2"></div>
    <div class="rodape">
        <ul class="indexador">
            <a href="#"><li>AJUDA</li></a>
            <a href="#"><li>SUPORTE</li></a>
            <a href="#"><li>TRABALHE CONOSCO</li></a>
            <a href="#"><li>SOBRE NÓS</li></a>
        </ul>

    </div>
</footer>
