<div class="fundo">
    <section class="area-login">
        <div class="login">
            <form name="form">
                <h1>CADASTROS</h1>
                
                <table>

                      <th>Id</th>
                      <td mat-cell *matCellDef="let row">{{row.id}}</td>
       
                      <th>Usuários</th>
                      <td mat-cell *matCellDef="let row">{{row.usuario}}</td>
        
                      <th>Senha</th>
                      <td mat-cell *matCellDef="let row">{{row.senha}}</td>
        
                      <th>Ações</th>
                      <td mat-cell *matCellDef="let row">
                        <a routerLink="/cadastro/update/{{row.id}} ">
                          <button>edit</button>
                        </a>
                        <a routerLink="/cadastro/delete/{{row.id}} ">
                          <button>delet</button>
                        </a>
                      </td>
                
                  </table>
            </form>
        </div>
    </section>
</div>