<div class="fundo">
    <section class="area-login">
        <div class="login">
            <div>
                <img src="src/assets/imgs/My-project-1.png" alt="">
            </div>
            <form name="form">
                <h1>CADASTROS</h1>
                
                <table class="informacao">
                    <section>
                        <td>NOME:</td>
                        <th>Caue</th>
                    </section>
                    <section>
                        <td>SENHA:</td>
                        <th>admin123</th>
                    </section>
                    <td><button>deletar</button></td>
                </table>
                <table class="informacao">
                    <section>
                        <td>NOME:</td>
                        <th>Caue</th>
                    </section>
                    <section>
                        <td>SENHA:</td>
                        <th>admin123</th>
                    </section>
                    <td><button>deletar</button></td>
                </table>
                <table class="informacao">
                    <section>
                        <td>NOME:</td>
                        <th>Caue</th>
                    </section>
                    <section>
                        <td>SENHA:</td>
                        <th>admin123</th>
                    </section>
                    <td><button>deletar</button></td>
                </table>
            </form>
        </div>
    </section>
</div>