<div class="fundo">
    <section class="area-login">
        <div class="login">
            <div>
                <img src="assets/imgs/My-project-1.png" alt="">
            </div>
            <form name="form" method="post">
                <input type="text"placeholder="nome de usuário" NgModel name="usuario" id="usuario">
                <input type="password" placeholder="senha do usuário" NgModel name="password" id="password">
                <button type="submit" name="entrar" value="entrar" click="createCadastro()">Entrar</button>
            </form>
            <p>já tem conta?<a routerLink="/login/cadastro" (click)="ngOnInit()">entre aqui</a></p>
        </div>
    </section>
</div>