<app-header></app-header> 
 
 <!-- inicio do corpo -->
         <!-- galery -->
         <div class="corpo">
            <div class="img">
                <div class="galery">
                    <ul class="column">
                    <li><img class="jogo1" src="assets/imgs/farcry-3.png" alt="jogo-1">
                    <button>R$ 70,00</button></li>
                    <li><img class="jogo2" src="assets/imgs/fifa-22.png" alt="jogo-2">
                    <button>R$ 100,00</button></li>
                    <li><img class="jogo3" src="assets/imgs/jogo-2.png" alt="jogo-3" >
                    <button>R$ 90,00</button></li>
                    <li><img class="jogo4" src="assets/imgs/nba-2k22.png" alt="jogo-4" >
                    <button>R$ 90,00</button></li>
                    <li><img class="jogo5" src="assets/imgs/ps4.png" alt="jogo-5" >
                    <button>R$ 1500,00</button></li>
                    <li><img class="jogo6" src="assets/imgs/ps5.png" alt="jogo-6" >
                    <button>R$ 3000,00</button></li>
                    <li><img class="jogo7" src="assets/imgs/xbox.png" alt="jogo-7" >
                    <button>R$ 2300,00</button></li>
                    <li><img class="jogo8" src="assets/imgs/switch.png" alt="jogo-8" >
                    <button>R$ 1500,00</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- galery -->
                <!-- footer -->
    <div class="linha"></div>

    <app-footer></app-footer>